.grid-divider 
{
    position: relative;
    padding: 0;
}

.grid-divider>[class*='col-'] 
{
    position: static;
}

.grid-divider>[class*='col-']:nth-child(n+2):before
{
    content: "";
    border-left: 1px solid #DDD;
    position: absolute;
    top: 10px;
    bottom: 10px;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.modal-header, .close {
    background-color: #7E57C2;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #EDE7F6;
}

